services:
  php:
    extra_hosts:
      - host.docker.internal:host-gateway
    # user: root
    build: ./docker/configs/phpfpm
    restart: always
    container_name: "php_${APP_NAME}"
    image: wm-phpfpm:8.4
    ports:
      - ${DOCKER_PHP_PORT}:9000
    volumes:
      - ".:/var/www/html/${DOCKER_PROJECT_DIR_NAME}"
    working_dir: "/var/www/html/${DOCKER_PROJECT_DIR_NAME}"
  db:
    image: postgis/postgis:17-3.5-alpine
    container_name: "postgres_${APP_NAME}"
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:?err}
      POSTGRES_USER_PASSWORD: ${DB_PASSWORD:?err}
      POSTGRES_USER: ${DB_USERNAME:?err}
      POSTGRES_DB: ${DB_DATABASE:?err}
    volumes:
      - "./docker/volumes/postgresql/data:/var/lib/postgresql/data"
    ports:
      - ${DOCKER_PSQL_PORT}:5432
  redis:
    image: redis:latest
    container_name: "redis_${APP_NAME}"
    restart: always
  elasticsearch:
    image: elasticsearch:8.17.1
    container_name: "elasticsearch_${APP_NAME}"
    environment:
      - node.name=elasticsearch
      - cluster.name=elasticsearch-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
